{% extends 'index.html' %}

{% block content %}
<p>
<div class="card" style="width: 25rem;">
    <div class="card-header">

        <h5>Muokkaa autoa {{autot.merkki}}</h5>

        <div class="card-body">
            <form method="post" action="/edit-autot-post/{{autot.id}}/">

                {%csrf_token %}
                <div class="form-group">
                    <label>Moottori</label>
                    <input type="number" step=".01" name="moottori" value={{autot.moottori}}>
                </div>
                <div class="form-group">
                    <label>Hinta</label>
                    <input type="number" step=".01" name="hinta" value={{autot.hinta}}>
                </div>
                <input type="submit" value="Päivitä" class="btn btn-success btn-sm">
                <input type="button" onclick="window.location.href='/autot'" id="hide-btn"
                    class="btn btn-secondary btn-sm" value="Peruuta">
            </form>
        </div>
    </div>
</div>
</p>

{% endblock %}